@import url(https://db.onlinewebfonts.com/c/f1fcc5aed1e20fc0cdb9f8a7573625bd?family=Integral+CF+Regular);
@font-face {
    font-family: "Integral CF Regular";
    src: url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.eot");
    src: url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.svg#Integral CF Regular")format("svg");
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Integral CF Regular";
}

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}






/*------------------------------------------------------------------*/

header {
    width: 100%;
    height: 220px;
    display: flex;
    background-image: url(images/revestimento-ceramico-psi62650-incenor-dd7eb55317-1600_x_1600.jpg);
    background-size: contain;
}

h1 {
    margin: auto;
    font-size: 20px;
    font-weight: 100;
    
}

span#st-contagem {
    font-size: 30px;
    margin-left: 6px;
    margin-right: 6px;
    font-weight: 900;
}

img#logo-st {
    margin: auto;
    
    width: 89px;
    height: 114.5px;
}

#container {
    margin-top: 50px;
    width: 376.5px;
    height: 53.19px;
}

section {
    margin: auto;
    width: 1200px;
    display: flex;
}

a#login {
    
    margin-right: 20px;
    width: 58.13px;
    height: 20px;
    font-size: 18px;;
    text-decoration: none;
    color: black;
    
}

a.st-btn{
    background-color: #A11116;
    padding: 12px 30px;
    color: white;
    font-style: italic;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    height: 100%;

}

a.st-btn:hover {
    background-color: #151718;
}

/*------------------------------------------------------------------*/

section#first {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 710.05px;
    background-image: url(images/MORUMBI.png);
    background-size: contain;
    border: none;

}

img#seja-st {
    margin-top: 141px;
    margin-left: 474px;
    
    width: 560px;
    
}

#span-text {
    margin-top: 29px;
}

span#text {
    width: 900px;
    text-shadow: 0.1em 0.1em 0.2em black;
    font-size: 21px;
    color: #DFDDD9;
    font-weight: bolder;
    display: grid;
    justify-content: start;
    grid-gap: 40px;
    padding-left: 426px;
}

span#color {
    color: #B11116;
}

a.st-btn-2{
    margin-top: -26px;
    margin-left: 427px;
    background-color: #A11116;
    width: 250px;
    height: 49px;
    text-align: center;
    color: #E8E6E3;
    font-style: italic;
    font-size: 15px;
    font-weight: bolder;
    text-decoration: none;
    

}

span#text2 {
    position: relative;
    top: 30%;
    left: 1%;

}

a.st-btn-2:hover {
    background-color: #8E0E12;
}

/*------------------------------------------------------------------*/

section#second {
    display: block;
    width: 100%;
    height: 947px;
    background-image: url(images/bg-transparencia.png);
    background-size: cover;
}

#container2 {
    padding-top: 225px;
}

p.text3 {
    text-align: center;
    padding: 25px;
    font-size: 26px;
    font-family: "D-DIN";
    color: #E8E6E3;
}

p#last-line {
    margin-top: 111px;
}

#container3 {
    width: 1814px;
    margin: 0px 0px 40px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 40px;
    margin-top: 20px;
   
}

a.st-btn-b{
    background-color: #151718;
    padding: 12px 30px;
    color: #E8E6E3;
    font-style: italic;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
}

a.st-btn-b:hover {
    background-color: #8E0E12;
}

/*------------------------------------------------------------------*/

section#third {
    width: 100%;
    height: 1626.19px;
    background-image: url(images/bg_header+1.png);
    display: block;
}

#h1-third {
    font-size: 57px;
    text-align: center;
}

#p-plan {
    font-size: 22px;
    text-align: center;
}

#p-plan-2 {
    font-size: 16px;
    text-align: center;
}

#button-choice {
    width: 1814px;
    margin: 0px 0px 40px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 40px;
}

#tri-morum, #tri-brasi {
    border: none;
    border-radius: 8px;
    font-size: 18px;
    background-color: #B11116;
    color: white;
    height: 51px;
    width: 257px;
    
}


/*------------------------------------------------------------------*/

footer {
    width: 100%;
    height: 390.23px;
    background-color: black;
    background-image: url(images/footer.png);
}